.cover.open{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(163, 163, 163, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 40;
}
.cover.close{
    display: none;
}
.filtering{
    grid-area: filter;
}
.products-items{
    grid-area: products;
}
.rs-slider-handle:nth-child(2) {
    margin-left: 10px;
}
.filter-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-item{
    max-height: 0;
    transition: 0.5s all;
    overflow: hidden;
}
.filter-item.open{
    max-height: 200px;
    padding: 10px;
}
.filter-item.open.p{
    padding-top: 50px;
}
@media screen and (max-width : 800px) {
    .filtering.open{
        transform: translateX(0);
    }
    .filtering{
        transform: translateX(100%);
        transition: 0.5s;
        position: fixed;
        width: 90%;
        top: 0;
        height: 100%;
        background-color: white;
        z-index: 100;
        overflow-y: auto;
    }
}