.products-container{
    display: grid;
    grid-template-areas: "filter products";
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
}

@media only screen and (max-width : 800px){
    .products-container{
        display: flex;
        flex-direction: column;
    }
}