.cover{
    z-index: 30;
}
.cover.clsoe {
    display: none;
}
.cover.open{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(163, 163, 163, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
.navbar-mobile{
    transition: 0.5s;
    transform: translateX(-100%);
}
.navbar-mobile.open{
    transform: translateX(0);
}
.bracelet{
    max-height: 0;
    transition: max-height 0.5s;
}
.bracelet.open{
    max-height: 500px;
}
.products-menu{
    max-height: 0;
    transition: max-height 0.5s;
}
.products-menu.open{
    max-height: 500px;
}
.menus li{
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}